streamlit
pdfplumber
PyMuPDF
python-dotenv
langchain-community
langchain-openai
openai
qdrant-client
requests
tiktoken
pypdf
sentence-transformers>=2.2.2
torch>=2.0.0
transformers>=4.30.0
langchain-huggingface>=0.0.5
